{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "jsx-a11y/anchor-is-valid": [0],
    "no-restricted-globals": [0],
    "react/no-unused-state": [0],
    "function-paren-newline": [0]
  }
}