{
  "lines": 0,
  "statements": 0,
  "functions": 0,
  "branches":0,
  "exclude": [
    ".vscode/**",
    "coverage/**",
    "node_modules/**",
    "postcss.config.js",
    "public/**",
    "src/tester.jsx",
    "test/**",
    "webpack.config.js",
    "webpack.loaders.js",
    "webpack.production.config.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "require": [
    "babel-register"
  ],
  "extension": [
    ".js",
    ".jsx"
  ],
  "cache": true,
  "all": true,
  "check-coverage": true
}
